html {
    box-sizing: border-box;
  }

  * {
    box-sizing: inherit;
    background-size: cover;
  }


  body {
    margin: 0;
    width: 100%;
    height: 100%;
    color: white;
  }
  
  img {
    object-fit: cover;

  }
  
  .input::placeholder {
    color: #c5c5c5;
  }

@media screen and (min-width: 375px ) {

  .main-container {
    background-image: url(/this-is-my-port-folio/Image/HOME/GRID.svg);
    width: 87%;
    height: 536px;
    margin-top: 6%;
    margin-left: 6%;
    margin-right: 6%;
  }
    
}

  .nav-brand-jnerlogo {
    background-image: url(/this-is-my-port-folio/Image/HOME/JNERLOGO.svg);
    position: relative;
    top: -43px;
    width: 80px;
    height: 80px;
    }

    .nav-brand-jnerlogo:hover {
    background-image: url(/this-is-my-port-folio/Image/JNERLOGO.svg);
    }

    .nav-brand-contentlogo {
    background-image: url(/this-is-my-port-folio/Image/HOME/CONTENTS-MENU_ICON.svg);
    position: relative;
    top: -99px;
    left: 41.2%;
    width: 20px;
    height: 20px;
    }

    .nav-brand-contentlogo:hover {
        background-image: url(/this-is-my-port-folio/Image/HOME/CONTENTS-MENU_ICON_BLUE.svg);
    }

    .nav-brand-navbar {
        background-image: url(/this-is-my-port-folio/Image/HOME/NAVBAR.svg);
        position: relative;
        top: -119px;
        left: 98.3%;
        width: 20px;
        height: 20px;

    }
    .nav-brand-navbar:hover {
        background-image: url(/this-is-my-port-folio/Image/HOME/NAVBAR_BLUE.svg);
    }

    .candy-gimmick {
        position: absolute;
        top: 87px;
        left: 6%;
        width: 87%;
        height: 74%;
    }
    .candy-one {
        position: absolute;
        width: 13px;
        height: 13px;
        left: 28.2%;
        top: 0%;

        background: #0000FF;
    }
    .candy-one:hover {
        background: black;
    }
    .candy-two {
        position: absolute;
        left: 30.5%;
        top: 31.6%;
        height: 13px;
        width: 13px;
        background: blue;
        border-radius: 100%;
    }
    .candy-two:hover {
        background: black;
    }
    .candy-three {
        position: absolute;
        left: 20.8%;
        top: 48.6%;
        height: 13px;
        width: 13px;
        background: blue;
        border-radius: 100%;
    }
    .candy-three:hover {
        background: black;
    }
    .candy-four {
        position: absolute;
        width: 13px;
        height: 13px;
        left: 0%;
        top: 48.6%;
        background: blue;
      }
      .candy-four:hover {
          background: black;
      }
      .candy-five {
        position: absolute;
        width: 13px;
        height: 13px;
        left: 0.2%;
        top: 80%;
        background: blue;
        border-radius: 100%;
      }
      .candy-five:hover {
          background: black;
      }
      .candy-six {
        position: absolute;
        width: 13px;
        height: 13px;
        left: 21%;
        top: 97.3%;
        background: blue;
      }
      .candy-six:hover {
          background: black;
      }
      .candy-seven {
        position: absolute;
        width: 13px;
        height: 13px;
        left: 41.8%;
        top: 97.3%;
        background: blue;
        border-radius: 100%;
      }
      .candy-seven:hover {
          background: black;
      }
      .candy-eight {
        position: absolute;
        width: 13px;
        height: 13px;
        left: 57.2%;
        top: 0%;
        background: blue;
      }
      .candy-eight:hover {
          background: black;
      }
      .candy-nine {
        position: absolute;
        width: 13px;
        height: 13px;
        left: 41.8%;
        top: 14.3%;
        background: blue;
        border-radius: 100%;
      }
      .candy-nine:hover {
          background: black;
      }
      .candy-ten {
        width: 13px;
        height: 13px;
        position: absolute;
        left: 70.6%;
        top: 31.5%;
        background: blue;
        border-radius: 100%;
      }
      .candy-ten:hover {
          background: black;
      }
      .candy-eleven {
        width: 13px;
        height: 13px;
        position: absolute;
        left: 78%;
        top: 48.7%;
        background: blue;
        border-radius: 100%;
      }
      .candy-eleven:hover {
          background: black;
      }
      .candy-twelve {
        width: 13px;
        height: 13px;
        position: absolute;
        left: 49.44%;
        top: 49.17%;
        background: blue;
      }
      .candy-twelve:hover {
          background: black;
      }
      .candy-thirteen {
        width: 13px;
        height: 13px;
        position: absolute;
        left: 57.1%;
        top: 97.4%;
        background: blue;
        border-radius: 100%;
      }
      .candy-thirteen:hover {
          background: black;
      }
      .candy-fourteen {
        width: 13px;
        height: 13px;
        position: absolute;
        left: 84.2%;
        top: 97.5%;
        background: blue;
      }
      .candy-fourteen:hover {
          background: black;
      }
      .candy-fifteen {
        width: 13px;
        height: 13px;
        position: absolute;
        left: 98.7%;
        top: 69%;
        background: blue;
        border-radius: 100%;
      }
      .candy-fifteen:hover {
          background: black;
      }
      .candy-sixteen {
        width: 13px;
        height: 13px;
        position: absolute;
        left: 98.7%;
        top: 34.5%;
        background: blue;
      }
      .candy-sixteen:hover {
          background: black;
      }
      

      .icon-eyeone {
          background-image: url(/this-is-my-port-folio/Image/eyeicon/HOME/EYE_ICON_II-black.svg);
          position: relative;
          width: 52.17px;
          height: 104.33px;
          left: 83.6%;
          top: -28px;
      }
      .icon-eyeone:hover {
          background-image: url(/this-is-my-port-folio/Image/eyeicon/HOME/EYE_ICON_II-blue.svg);
      }

      .icon-eyetwo {
          background-image: url(/this-is-my-port-folio/Image/eyeicon/HOME/EYE_ICON_I-blue.svg);
          position: relative;
          width: 52.17px;
          height: 105px;
          left: 83.6%;
          top: 23px;
      }
      .icon-eyetwo:hover {
        background-image: url(/this-is-my-port-folio/Image/eyeicon/HOME/EYE_ICON_I-black.svg);
      }

      .icon-eyethree {
          background-image: url(/this-is-my-port-folio/Image/eyeicon/HOME/EYE_ICON_III-black.svg);
          position: relative;
          width: 52.17px;
          height: 27px;
          left: 5%;
          top: 120px;
      }
      .icon-eyethree:hover {
          background-image: url(/this-is-my-port-folio/Image/eyeicon/HOME/EYE_ICON_III-green.svg);
      }


      .cat-work {
          background-image: url(/this-is-my-port-folio/Image/HOME/work/project.svg);
          position: relative;
          width: 170px;
          height: 40px;
          left: 36px;
          top: -43px;

      }
      .cat-work:hover {
        background-image: url(/this-is-my-port-folio/Image/HOME/work/project_hover.svg);
      }

      .cat-cv {
        background-image: url(/this-is-my-port-folio/Image/HOME/CV/RESUME.svg);

        position: relative;
        width: 280px;
        height: 60px;
        left: 880px;
        top: 2px;

      }
      .cat-cv:hover {
        background-image: url(/this-is-my-port-folio/Image/HOME/CV/resume_hoverII.svg); 
      }




      .mynotice {
        background-image: url(/this-is-my-port-folio/Image/HOME/finder_black.svg);
        position: relative;
        background-repeat: no-repeat;
        background-size: contain;
        top: -320px;
        left: 30%;
        width: 35%;
        height: 248px;
      }
     
        
      .B-con {
        position: relative;
        display: flex;
        justify-content: space-between;
        left: 5%;
        top: -15px;
        width: 46px;
        height: 10px;
 
  
      }
    
      .Bone {

        background: white;
        border-radius: 100%;
        width: 10px;
        height: 10px;
      }
      .Bone:hover {
        background-color: #00FF00;
      }
      .Btwo {

        background: white;
        border-radius: 100%;
        width: 10px;
        height: 10px;
      }
      .Btwo:hover {
        background-color: #00FF00;
      }
      .Bthree {

        background: white;
        border-radius: 100%;
        width: 10px;
        height: 10px;
      }
      .Bthree:hover {
        background-color: #00FF00;
      }
      
      .mynotice-header {
        position: relative;
        width: 19%;
        left: 263px;
        top: 2%;

        font-family: barlow;
        font-style: normal;
        font-weight: bold;
        font-size: 12.42px;
        line-height: 29px;
        color: #FFFFFF;
      }
      .mynotice-header:hover {
          color: #00FF00;
      }
      .notice-sign {
        background-image: url(/this-is-my-port-folio/Image/HOME/Vector.svg);
        position: relative;
        width: 70px;
        height: 70px;
        left: 25px;
        top: 20px;

      }
      .notice-sign:hover {
          background-image: url(/this-is-my-port-folio/Image/HOME/Vector_hover.svg);
      }

      .content {
      position: relative;
      top: -7px;
      left: 10px;

      }
      .tagone {
        position: relative;
        left: 110px;
        top: -48px;
        text-align: left;
        font-family: Barlow;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        color: #000000;
        display:inline-block;
      }
      .tagtwo {
        position: relative;
        left: 115px;
        top: -48px;
        
        font-family: Barlow;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 17px;
        color: #000000;
        display:inline-block;
      }
      .tagthree {
        position: relative;
        left: -15px;
        top: -30px;
        
        font-family: Barlow;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        color: #000000;
      }
      .tagfour {
        position: relative;
        left: -10px;
        top: -30px;
        
        font-family: Barlow;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 17px;
        color: #000000;
      }
      .tagfour:hover {
          color: #00FF00;
      }
      .tagfive {
        position: relative;
        display: flex;
        width: 157px;
        left: 110px;
        top: -15px;
        
        font-family: Barlow;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 1px;
        color: #000000;  
      }

      .button-container {
      position: relative;
      display: flex;
      justify-content: space-around;
  
      width: 200px;
      height: 25px;      
      left: 115px;
      top: -5px;
        
      font-family: Barlow;
      font-style: normal;
      font-weight: bold;
      text-align: center;
      font-size: 8px;
      line-height: 23px;
      text-decoration:none;

      }
      .btnone {
      width: 90px;
      height: 25px;

      border: 1px solid #000000;
      color: #000000;
      }
      .btnone:hover {
      background-color: black;
      color: white;
      letter-spacing: 1px;
      text-align: center;
      text-decoration:none;

      }
      .btntwo {
      width: 90px;
      height: 25px;
      border: 1px solid #000000;
      background: #000000;
      }

      .btntwo:hover {
        background-color: #00FF00;
        border: 1px solid #00FF00;
        color: white;
        letter-spacing: 1px;
        text-align: center;
        text-decoration:none;
      }



@media screen and (max-width: 1400px) {
.icon-eyeone {
display: none;
}
.icon-eyetwo {
display: none;
}
.icon-eyethree {
position: relative;
width: 52.17px;
height: 27px;
left: 0px;
top: 404px;
}
.mynotice {
display: none;
}
.main-container {
width: 442px;
height: 532px;
margin-top: 10%;
margin-left: 10%;
margin-right: 10%;
}
.nav-brand-jnerlogo {
position: relative;
top: -6%;
width: 60px;
height: 60px;
}
.nav-brand-contentlogo {
position: relative;
top: -59px;
left: 147px;
width: 20px;
height: 20px;
}
.nav-brand-navbar {
position: relative;
top: -79px;
left: 330px;
width: 20px;
height: 20px;
}
.cat-work {
position: relative;
width: 170px;
height: 40px;
left: 1px;
top: 113px;
}
.cat-cv {
position: relative;
width: 280px;
height: 60px;
left: 0px;
top: 153px;
}
.candy-gimmick {
position: absolute;
top: 7%;
left: 10%;
width: 80%;
height: 73.4;
}
}


