html {
    box-sizing: border-box;
  }
  
  * {
    box-sizing: inherit;
    background-size: cover;
  }
  
  body {
    margin: 0;
    color: white;
  }
  
  img {
    object-fit: cover;

  }
  
  .input::placeholder {
    color: #c5c5c5;
  }
  .main-container {
    background-image: url(/this-is-my-port-folio/Image/HOME/GRID.svg);
    position: absolute;
    width: 1126.08px;
    height: 482.74px;
    left: 156.46px;
    top: 79.63px;
}
  .nav-brand-jnerlogo {
    background-image: url(/this-is-my-port-folio/Image/HOME/JNERLOGO.svg);
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0%;
    top: -6%;
    }
    .nav-brand-jnerlogo:hover {
        background-image: url(/this-is-my-port-folio/Image/JNERLOGO.svg);
    }
    .nav-brand-contentlogo {
        background-image: url(/this-is-my-port-folio/Image/HOME/CONTENTS-MENU_ICON.svg);
        width: 20px;
        height: 20px;
        position: absolute;
        left: 41.1%;
        right: 52.15%;
        top: -3.9%;
        bottom: 88.96%;
    }
    .nav-brand-contentlogo:hover {
        background-image: url(/this-is-my-port-folio/Image/HOME/CONTENTS-MENU_ICON_BLUE.svg);
    }
    .nav-brand-navbar {
        background-image: url(/this-is-my-port-folio/Image/HOME/NAVBAR.svg);
        position: absolute;
        width: 20px;
        height: 20px;
        left: 98.2%;
        right: 2%;
        top: -3.9%;
        bottom: 88.96%;
    }
    .nav-brand-navbar:hover {
        background-image: url(/this-is-my-port-folio/Image/HOME/NAVBAR_BLUE.svg);
    }

          
.my-finder {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/WORKS/finder.svg);
position: absolute;
width: 1150px;
height: 571.69px;
left: 145px;
top: 125px;
}

.finder-header {
position: absolute;
width: 740px;
height: 16px;
right: 90px;
top: 11px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 10px;
line-height: 16px;
letter-spacing: 0.2em;
text-transform: uppercase;

color: #FFFFFF;
}
.finder-header:hover {
color: #00FF00;
}

.finder-bttn {
position: absolute;
display: flex;
justify-content: space-between;
left: 85px;
top: 14px;
width: 50px;
height: 10px;
}

.fbone {

background: white;
border-radius: 100%;
width: 10px;
height: 10px;
}
.fbone:hover {
background-color: #00FF00;
}
.fbtwo {

background: white;
border-radius: 100%;
width: 10px;
height: 10px;
}
.fbtwo:hover {
background-color: #00FF00;
}
.fbthree {

background: white;
border-radius: 100%;
width: 10px;
height: 10px;
}
.fbthree:hover {
background-color: #00FF00;
}

.findersign {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/WORKS/W&P.svg);
position: absolute;
width: 150px;
height: 34px;
left: 85px;
top: 75px;
}
.findersign:hover {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/WORKS/W&P_HOVER.svg);
}

.seq-list {
display: flex;
flex-direction: row;
padding: 0px;

}
.seqvii {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/WORKS/WORKS/WORKS/seqvii.svg);
position: absolute;
width: 187px;
height: 30px;
left: 66px;
top: 150px;
}
.seqvii:hover {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/Arrow/WORKS/WORKS/A7.svg);
width: 189px;
height: 30px;
margin: -1px;
}
    
.seqvi {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/Arrow/WORKS/A6.svg);
position: absolute;
width: 189px;
height: 30px;
top: 179px;
left: 65px;
}
.seqvi:hover {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/Arrow/WORKS/A6_HOVER.svg);
width: 189px;
height: 30px;  
}
.seqv {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/WORKS/WORKS/WORKS/seqv.svg);
position: absolute;
width: 187px;
height: 30px;
top: 208px;
left: 66px;
}
.seqv:hover {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/Arrow/WORKS/WORKS/A5.svg);
width: 189px;
height: 30px;
margin: -1px;
}
    
.seqiv {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/WORKS/WORKS/WORKS/seqiv.svg);
position: absolute;
width: 187px;
height: 30px;
top: 237px;
left: 66px;
}
.seqiv:hover {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/Arrow/WORKS/WORKS/A4.svg);
width: 189px;
height: 30px;
margin: -1px;
}
    
.seqiii {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/WORKS/WORKS/WORKS/seqiii.svg);
position: absolute;
width: 187px;
height: 30px;
top: 266px;
left: 66px;
}
.seqiii:hover {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/Arrow/WORKS/WORKS/A3.svg);
width: 189px;
height: 30px;
margin: -1px;
}
.seqii {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/WORKS/WORKS/WORKS/seqii.svg);
position: absolute;
width: 187px;
height: 30px;
top: 295px;
left: 66px;
}
.seqii:hover {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/Arrow/WORKS/WORKS/A2.svg);
width: 189px;
height: 30px;
margin: -1px;
}
.seqi {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/WORKS/WORKS/WORKS/seqi.svg);
position: absolute;
width: 187px;
height: 30px;
top: 324px;
left: 66px;
}
.seqi:hover {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/Arrow/WORKS/WORKS/A1.svg);
width: 189px;
height: 30px;
margin: -1px;
}


.work-project-picture {
position: absolute;
top: 37px;
left: 256px;
width: 798px;
height: 504px;
overflow: scroll;
z-index: 1;
}

.img img {
position: absolute;
top: 95px;
left: 190px;
width: 430px;
height: auto;
}


.frame-bg {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/frame-transparent.png);
position: fixed;
pointer-events: none;
top: 162px;
left: 401px;
width: 798px;
height: 504px;
z-index: 1;
}

.rec1 {
position: absolute;
width: 30px;
height: 10px;
top: 162px;
left: 300px;

}
.rec2 {
position: absolute;
width: 30px;
height: 10px;
top: 162px;
left: 342px;

}
.rec3 {
position: absolute;
width: 30px;
height: 10px;
top: 162px;
left: 479px;

}
.rec4 {
position: absolute;
width: 20px;
height: 5px;
top: 172px;
left: 395px;

}
.rec5 {
position: absolute;
width: 20px;
height: 5px;
top: 179px;
left: 395px;

}
.rec6 {
position: absolute;
width: 20px;
height: 5px;
top: 186px;
left: 395px;

}
.rec7 {
position: absolute;
width: 20px;
height: 5px;
top: 193px;
left: 395px;

}
.rec8 {
position: absolute;
width: 20px;
height: 5px;
top: 200px;
left: 395px;

}
.rec9 {
position: absolute;
width: 20px;
height: 5px;
top: 214px;
left: 395px;

}
.rec10 {
position: absolute;
width: 30px;
height: 9px;
top: 161px;
left: 392px;
  
}


.header {
padding-left: 50px;
padding-top: 100px;
font-family: Mont Demo;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.25em;
text-decoration-line: underline;
text-transform: uppercase;
    
color: #00FF00;
}

.sub-head{
padding-left: 50px;
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 19px;
letter-spacing: 0.1em;
text-decoration-line: underline;
text-transform: lowercase;
    
color: #00FF00;
}

.content {
position: absolute;
bottom: 30px;
width: 190px;
height: 45px;
pointer-events: visible;
padding-left: 50px;

font-family: Mont Demo;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 23px;
letter-spacing: 0.1em;
text-decoration-line: underline;
text-transform: lowercase;
    
color: #00FF00;
}
.content:hover {
color: black;
}

.arrow-fw {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/Arrow-2.svg);
position: absolute;
pointer-events: visible;
top: 45px;
right: 79px;
width: 25px;
height: 16px;
}
.arrow-fw:hover {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/Arrow-2_hover.svg);
}

.arrow-bw {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/Arrow-3.svg);
position: absolute;
pointer-events: visible;
bottom: 40px;
right: 79px;
width: 25px;
height: 16px;
}
.arrow-bw:hover {
background-image: url(/this-is-my-port-folio/Image/WORKS-PROJECTS/Arrow-3_hover.svg);
}




